@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{
  @apply  px-4 py-2 text-white bg-[#f88648] w-full border border-transparent h-[45px] rounded hover:border hover:border-[#f88648] hover:bg-white hover:text-[#f88648] focus:outline-none focus:ring focus:ring-blue-300 active:bg-blue-800 text-sm 
}
.trashBtn{
  @apply bg-red-400 hover:bg-red-500 text-white font-bold py-2 px-4 rounded
}
.editBtn{
  @apply bg-yellow-300  hover:bg-yellow-400 text-white font-bold py-2 px-4 rounded
}
.banBtn{
  @apply bg-green-300  hover:bg-yellow-400 text-white font-bold py-2 px-4 rounded
}
input,textarea{
  @apply p-2 w-full rounded-md border border-gray-300 focus:outline-none focus:ring-1 focus:ring-[#f88648]
}
label{
  @apply block text-sm font-medium text-gray-700
}
.errorMessage{
  @apply text-red-400 text-xs font-light
}
.submit{
  @apply relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring focus:ring-indigo-200
}
body{
  @apply bg-[#fcfaf9]
}
.limitedLines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to display */
  -webkit-box-orient: vertical;
}
.nameLines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Number of lines to display */
  -webkit-box-orient: vertical;
}

.custom-select-container {
  position: relative;
  width: 200px; /* Adjust as needed */
}

/* CustomSelect.css */
.custom-select-container {
  position: relative;
  width: 200px;
}

.custom-select {
  appearance: none;
  padding: 8px;
  font-size: 16px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transform-origin: bottom; /* Set the transform-origin to bottom */
}

.custom-select:hover {
  border-color: #aaa;
}

.custom-select:focus {
  outline: none;
  border-color: #4a90e2;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.7);
}

/* DropdownMenu.css */
.dropdown {
  position: relative;
  display: inline-block;
}

.selected-option {
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  width: 200px;
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.option {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}
  option:hover {
    background-color: #f0f0f0;
  }




